<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>Document</title>
</head>
<body>
    <h1 id="salut"> Hi </h1>
    <h3 >Transaction status: <%= locals.value %></h3>
    <h3>Ether amount transfered: <%= locals.amount %></h3>

    <form action="" method="post">
        <input name="amount" type="number"></input>
        <button value=yes>Submit Tx</button>
    </form>

    <h4> First address balance: <%= locals.balance1 %> </h4>
    <h4> Second address balance: <%= locals.balance2 %> </h4>
</body>
<!-- <script src="../js/requestsTesting.js"></script> -->
</html>
